/* selectors
class
id
tag */
h1{
    color: rgb(70, 13, 230);
    text-align: center;
}

#second{
    color: rgb(10, 233, 140);
    text-align: center;

}
.cls{
    color: rgb(243, 56, 9);
    text-align: center;
}
/* # used to select id */
/* . used to select class */